SECRET_KEY=_pfyabgo0st5^johv^w9n4v2canke4mk7$=jam(0%=5#v!ck_9
BOT_TOKEN=XXXXXXXXXX:HeReWiLlBeYouRTelEgRaMboT_tOkEn
STORE_IDS=abc111 xyz000
SPECIAL_USER=XXXXXXXXXX
REPORT_TIME='16:30'
DB_NAME=MyStore
DB_HOST=mongo
BROKER_HOST=redis
CHANNELS_HOST=redis